.app {
  background-color: #dadbd3;
  height: 100vh;
  display: grid;
  place-items: center;
}

.app__body {
  display: flex;
  background-color: #ededed;
  height: 90vh;
  width: 150vh;
  box-shadow: 0 10px 20px rgb(0, 0, 0, 0.19), 0 6px 6px rgb(0, 0, 0, 0.23);
}
